.Rproj.user
.Rhistory
.RData
.Ruserdata

# System files
.DS_Store
Thumbs.db

# renv folders (R package environments)
renv/library/
renv/python/
renv/staging/

# Logs
*.log

# Local environment/config files
.Renviron

